In [3]:
def firdt():
    print("helloworld")
firdt()

helloworld

In [5]:
def add(a,b):
    return a+b
g=add(5,6)
print(g)

11

In [7]:
def name(name1,message="good morning"):
    print(name1,message)
name("Ganesh")

Ganesh good morning

In [8]:
def swap(x,y):
    temp=x
    x=y
    y=temp
    return x ,y
g=swap(10,3)
print(g)

(3, 10)

In [10]:
def su_n(*args):
    print(type(args))
    print(args)

    sum=0
    for num in args:
        sum+=num
    return sum
su_n(1,2,3,4,5,6)

<class 'tuple'>
(1, 2, 3, 4, 5, 6)

21

In [16]:
def display(**kwargs):
    print(kwargs)
   
    print(type(kwargs))

    for key ,value in kwargs.items():
        print(key,"->",value)
display(name="Ganesh",age=20)

{'name': 'Ganesh', 'age': 20}
<class 'dict'>
name -> Ganesh
age -> 20

In [17]:
def add(a:int,b:int)->int:
    return a+b
print(add(4,5))

9

In [20]:
def outer():
    print("outer")
    def inner():
        print("inner")
    return inner
outer()()

outer
inner

In [21]:
def outer():
    print("outer")
    def inner():
        print("inner")
    return inner()
outer()

outer
inner

In [22]:
num=4
def f1(num):
    num+=1
    print(num)
f1(num)
print(num)

5
4

In [23]:
my_lst=[1,2,3,4]

def modify(li):
    li.append(5)
    print(li)
print(my_lst)

modify(my_lst)
print(my_lst)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [25]:
#lambda
fuc=lambda x:x+10 

print(fuc(3))

13